{{>header}}
    <h1 class="text-center">Bienvenido a la Página de Educación Continua</h1>
    <div class="text-center">
        <img src="imagenes/tdearoom.jpg"  width="50%" alt="">
    </div>
    
    <br>
    <div class="accordion accordion-flush" id="accordionExample">
        
    </div>
    <br>
    
{{>footer}}
  